body {
  font-family: 'Roboto', sans-serif;
}

.navbar {
    margin-bottom: 0px;
}

.btn-primary {
  color: #2e6da4;
  background-color: #FFFFFF;
}

.btn-default,
.btn-default:hover,
.btn-default:active {
  border: none;
  background: #FFFFFF;
}

.jumbotron {
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url('../resources/img/background.jpg');
  background-size: cover;
  background-position: center;
}
